.vscode
runs/
backups/
sim_build/
__pycache__/
tb/a.out
drc_run_*
lvs_run_*
*.vcd
*.raw
*.log
*.pyc
*.ext
.DS_Store
/doc/gen_structure.py
/doc/IHP__ADC5871-structure.md
/doc/IHP__LNA1426-structure.md
/doc/IHP__MCU4057-structure.md
/doc/IHP__OPA3488-structure.md
/flow/artistic
/schematic/simulations
/testbenches/simulations
/macros/inverter/verification/cace/_runs
/macros/inverter/verification/cace/_docs
/macros/inverter/verification/cace/netlist
/macros/inverter/verification/cace/templates/simulations
/macros/inverter/schematic/simulations
/macros/inverter/testbenches/simulations
/macros/counter/schematic/simulations
/macros/counter/testbenches/xschem/simulations
