(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("testbenches/verilog/riscv_top/riscv_top_tb.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "riscv_top_tb",
                "dut",
                "alu_i",
            ],
            id: Wellen((4)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "riscv_top_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "clk",
                    id: Wellen((1)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "riscv_top_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "BAUD",
                    id: Wellen((72)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "BAUD",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "riscv_top_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "sram_ce",
                    id: Wellen((16)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sram_ce",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Divider((
                color: None,
                background_color: None,
                name: Some("INPUTS"),
            )),
            (9): Divider((
                color: None,
                background_color: None,
                name: Some("OUTPUTS"),
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "riscv_top_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "sclk",
                    id: Wellen((21)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "riscv_top_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "CLK_FREQ",
                    id: Wellen((73)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "CLK_FREQ",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "riscv_top_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "rx",
                    id: Wellen((23)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rx",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "riscv_top_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "reset",
                    id: Wellen((11)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Divider((
                color: None,
                background_color: None,
                name: Some("CONSTANTS"),
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "riscv_top_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "so",
                    id: Wellen((17)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "so",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "riscv_top_tb",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "si",
                    id: Wellen((18)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "si",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 14,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: None,
        markers: {},
        focused_item: Some((1)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (0),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)