#N
gpio_in.*

#S
gpio_out.*

#E
Q_ae
ds_Q_oe
ds_Q_p_o
ds_Q_p_i
ds_Q_n_o
ds_Q_n_i
lo_Q_oe
lo_Q_o
lo_Q_i
lo_Qx_o
lo_Qx_i
lo_Ix_o
lo_Ix_i
lo_I_o
lo_I_i
lo_I_oe
ds_I_n_o
ds_I_n_i
ds_I_p_o
ds_I_p_i
ds_I_oe
I_ae
analog_en

#W
tx
rx
scl
sda_oe
sda_o
sda_i
sram_ce
sclk
si
so
reset
clk